
.navbar-brand {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

body {
    background-image: url('wether.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
}

.des {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
}

#btn {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(252, 253, 255);
    outline-color: white;
    border: none;
    padding: 10px;
}

#btn:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

#hr {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 8px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

#hr1 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 1;
}

.footer {
    background-color: white;
}

#footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}